
<h1>
Sign Up
</h1>

<div>
<%= alert %>
</div>

<form action="/input_new_user">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

<label for="browser_password">Password</label>
  <input id="browser_password" type="password" name="input_password" placeholder="Create your password">

<label for="browser_password_confirm">Password Confirmation</label>
  <input id="browser_password_confirm" type="password" name="confirm_password" placeholder="Re-enter your password">

  <button>Sign up!</button>
</form>
